node_modules/
.turbo/
dist/
release/
apps/desktop/renderer/
apps/desktop/bridge/
.env
PORTAL/data/config.json
PORTAL/data/portal.log
Exotic/
.exotic/
.vs/
build/
out/
cmake-build-*/
**/CMakeFiles/
**/CMakeCache.txt
**/.cmake/
**/Testing/Temporary/
**/*.vcxproj.user
**/*.VC.db
**/*.opendb
**/*.suo
**/*.user
**/*.obj
**/*.ilk
**/*.pdb
**/*.recipe
**/*.tlog/
**/VSInheritEnvironments.txt
**/install_manifest.txt
**/cmake_install.cmake
