node_modules/ 
.turbo/ 
dist/ 
.env 
Exotic/
.exotic/
.vs/
build/
out/
cmake-build-*/
**/CMakeFiles/
**/CMakeCache.txt
**/.cmake/
**/Testing/Temporary/
**/*.vcxproj.user
**/*.VC.db
**/*.opendb
**/*.suo
**/*.user
**/*.obj
**/*.ilk
**/*.pdb
**/*.recipe
**/*.tlog/
**/VSInheritEnvironments.txt
**/install_manifest.txt
**/cmake_install.cmake
